@font-face {
    font-family: 'Miriam Fixed Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/mriamc.ttf') format('truetype');
}

@font-face {
    font-family: 'Wanderlust Shine Pro';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/WanderlustShinePro.otf') format('OpenType');
}

:root {
  --primary-brand_green: #6F7D5F;
  --secondary-brand_green: #E1EFD4;
  --off-white: #F2EDE6;
  --pale-white: #F2EDE6;
  --muted-orange: #C28262;
  --hot-pink: #DF4A95;
  --pink: #FDD6D8;
  --blue: #5085B6;
  --light-blue: #E9EEF3;
  --title-font: 'Wanderlust Shine Pro';
  --text-font: 'Miriam Fixed Regular', monospace;
}

body {
    font-size: 16px;
    background: var(--off-white);
    height: 100vh;
    text-align: center;
}

main {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-family: var(--text-font);
}

h1,
h2 {
    font-family: var(--title-font);
    font-size: 4rem;
    color: var(--primary-brand_green);
}

#envelope {
    display: grid;
    justify-content: space-between;
    width: 75%;
    gap:1rem;
    background: var(--secondary-brand_green);
    filter: drop-shadow(0 4px 6px rgb(0,0,0, 0.25));
    aspect-ratio: 0.6;
    @media (width >= 768px) {
        grid-template-columns: 3fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        width: 50%;
        gap: 0;
        max-width: 1090px;
        aspect-ratio: 1.6;
    }
}

h1 {
    #brittneyLauren {
        max-width: 75%;
        margin: auto;
        fill: var(--primary-brand_green);
        @media (width >= 1024px) {
            max-width: 50%;
        }
    }
    @media (width >= 1024px) {
        align-content: end;
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
}
#comingsoon{
    @media (width >= 1024px) {
        align-content: end;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
}
#stamp {
    justify-self: end;
    align-self: center;
    padding: 1rem;
    @media (width >= 1024px) {
        max-width: 50%;
        grid-column: 2/3;
        grid-row: 1/2;
    }
}

#leaf {
    max-width: 80px;
    justify-items: left;
    @media (width >= 1024px) {
        max-width: 125px;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        align-self: end;
    }
}

footer {
    font-size: 0.75rem;
}