:root {
  --primary-brand_green: #6F7D5F;
  --secondary-brand_green: #E1EFD4;
  --off-white: #F2EDE6;
}

body {
    font-size: 16px;
    background: var(--off-white);
    height: 100vh;
    text-align: center;
}
main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#envelope {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    gap:1rem;
    background: var(--secondary-brand_green);
    filter: drop-shadow(0 4px 6px rgb(0,0,0, 0.25));
    aspect-ratio: 0.6;
    @media (width >= 768px) {
        width: 50%;
        max-width: 1090px;
        aspect-ratio: 1.6;
    }
}
#brittneyLauren {
    max-width: 75%;
    margin: auto;
    padding: 1rem;
    @media (width >= 1024px) {
        max-width: 50%;
        padding: 2rem;
    }
}
#leaf {
    max-width: 80px;
    justify-items: left;
    @media (width >= 1024px) {
        max-width: 150px;
    }
}
p {
    font-size: 2rem;
}