:root {
  --primary-brand_green: #6F7D5F;
  --secondary-brand_green: #E1EFD4;
  --off-white: #F2EDE6;
  --pale-white: #F2EDE6;
  --muted-orange: #C28262;
  --hot-pink: #DF4A95;
  --pink: #FDD6D8;
  --blue: #5085B6;
  --light-blue: #E9EEF3;
}
@keyframes changeColor {
  20% {background-color: var(--secondary-brand_green);}
  25% {background-color: var(--pale-white);}
  45% {background-color: var(--pale-white);}
  50% {background-color: var(--pink);}
  70% {background-color: var(--pink);}
  75% {background-color: var(--light-blue);}
  95% {background-color: var(--light-blue);}
}
@keyframes changeSVGcolor {
  20% {fill: var(--primary-brand_green);}
  25% {fill: var(--muted-orange);}
  45% {fill: var(--muted-orange);}
  50% {fill: var(--hot-pink);}
  70% {fill: var(--hot-pink);}
  75% {fill: var(--blue);}
  95% {fill: var(--blue);}
}
body {
    font-size: 16px;
    background: var(--off-white);
    height: 100vh;
    text-align: center;
}
main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#envelope {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    gap:1rem;
    background: var(--secondary-brand_green);
    filter: drop-shadow(0 4px 6px rgb(0,0,0, 0.25));
    aspect-ratio: 0.6;
    animation: changeColor 10s linear infinite;
    @media (width >= 768px) {
        width: 50%;
        max-width: 1090px;
        aspect-ratio: 1.6;
    }
}
#brittneyLauren {
    max-width: 75%;
    margin: auto;
    padding: 1rem;
    fill: var(--primary-brand_green);
    animation: changeSVGcolor 10s linear infinite;
    @media (width >= 1024px) {
        max-width: 50%;
        padding: 2rem;
    }
}
#leaf {
    max-width: 80px;
    justify-items: left;
    /* fill: var(--primary-brand_green); */
    @media (width >= 1024px) {
        max-width: 150px;
    }
}
p {
    font-size: 2rem;
}